*.gem
*.rbc
.bundle
.config
coverage
Gemfile.lock
InstalledFiles
.yardoc
_yardoc
doc
lib/bundler/man
pkg
rdoc
*.sassc
.sass-cache
capybara-*.html
.rspec
log/*
test/tmp
test/version_tmp
tmp
*.orig
rerun.txt
pickle-email-*.html
